body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: black;
    margin: 0 auto;
    border: 3px solid white;
    background-color: grey;
}

h1
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.display
{
    font-size: 120%;
    margin-left: 20px;
    color: white;
}

.carDisplay
{
    font-size: 120%;
    margin-left: 20px;
    color: white;
}

.indent
{
    margin-left: 40px;
}